.totalCon {
    height: 100%;
    background-color: rgb(22, 24, 35);
    background-image: url('../src/bgc.png');
    background-position-x: 50%;
    background-size: cover;
    border-radius: 7px;
}

body {
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
}